.App {
  text-align: center;
}
div.container {
	text-align: center;
	font-size: 1.8em
}
input[type="text"] {
	display: block;
	margin : 0 auto;
}

.section-header {
	text-align: center !important; 
}

#astromony-picture-container {
	width: auto 0 !important;
}

#carousel {
font-size: 1.4em !important;
width: 100% !important;
height: 280px !important;
}

.carousel {
	margin-top: 50px !important;
	width: 1350px !important;
	height: 750px !important;
	margin: auto !important;
}

body {
	background-color: #d3d3d3 !important;
}

.carousel .slide .legend {font-size: 20px !important }

.carousel .slide .img {
	width: 100% !important;
	height: auto!important;
}

.slider-wrapper axis-horizontal {
	font-size: 1.4em
}
.form-inline {
	white-space: pre
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body { height:100%; }

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}


@keyframes favme-anime {
  0%   { 
		opacity: 1;
		font-size: ms(0);
		-webkit-text-stroke-color: transparent;
	}
	25%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(-2);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
	75%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(3);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
  100% { 
		opacity: 1;
		font-size: ms(2);
		-webkit-text-stroke-color: transparent;
	}
}

@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}

.favme {
	display:block;
	font-size: ms(2);
	width: auto;
	height: auto;
	cursor: pointer;
	box-shadow: none;
	transition: all .2s ease;
	color: #CBCDCE;
	margin: 0;
	
	&.active {
		color: #DC3232;
	}
	&:hover {
		animation: favme-hover .3s infinite alternate;
	}
	&.is_animating {
		animation: favme-anime .3s;
	}
}
.btn {
  display: block;
  width: 15%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

input{ 
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
; background-color: #fff;
}

.carousel-item img { width: 100% !important;}

