<header> </header>
  <div class="landing-page-background-container">
    <h1 class="heading-primary-main">CosmosDaily</h1>
  </div>
    <div class="sign-up-container">
        <a style="float:left" class="btn btn-dark btn-md" href="/users/sign_up">Signup</a> <h2>or</h2><a style="float:right" class="btn btn-dark btn-md" href="/users/log_in">Login</a>
    </div> 
    