<header> </header>
  <div class="landing-page-background-container">
    <h1 class="heading-primary-main">CosmosDaily</h1>
  </div>
  <section>
    <h1 class="section-header">View 9,000+ high resolution images from NASA’s Astronomy API</h1>
    <h2 class="section-header">Search by date and visit the edge of the known universe </h2>
  </section>
    <div class="login-sign-up-container"> 
        <a id="sign-up-link"class="btn btn-dark btn-md" href="/users/sign_up">Signup</a><a id="login-link" class="btn btn-dark btn-md" href="/users/log_in">Login</a>
   </div> 
   <div class="MagicSlideshow"> 
    <%= image_tag("M57Ring_HubbleGendler_3000_dailycosmos_picture_3.jpg")%>
  </div> 
    