/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* .login-sign-up-container{right: 0;} */

 :root{
	 --font-family: "Lato", sans-serif;
 }

 .heading-primary-main {
	 color: white; 
	 line-height: 1.7;
	 position: absolute;
   top: 25%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .landing-page-header {
	 /* background-image: url('M57Ring_HubbleGendler_3000_dailycosmos_picture_3.jpg') !important; */
	 width: 400px;
	 height: 400px;
 }
 #login-logout-button { right: 0;}

 .landing-page-background-container{ 
		background-image: url('M57Ring_HubbleGendler_3000_dailycosmos_picture_3.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		/* margin-left: auto;
		margin-right: auto; */
		width: 100% !important;
		text-align: center;
  	color: white;
	}

	.join-now-link {
		background-color: white;
		border-radius: 25px;
		border: 2px solid black;
		font-size: small;
	}

	.sign-up-container{ 
		margin: auto !important;
		text-align: center !important;
		white-space: nowrap !important;
	 }

	 .sign-up-container > h2 {
	display: inline-block !important;
	 }

	 .btn, .btn:link { 
		margin: auto !important;
		text-align: center !important;
		margin-left: 10% !important;
		margin-right: 10% !important;
		line-height: 2.0;
		background-color: black !important;
		width: 200px !important;
		display: inline-block !important;
	 }

	.join-now-link a { color: white !important}

 .image-flex-container{ 
	 display: flex;
	 /* flex-wrap: wrap; */
	 align-items: flex-start;
	 flex-direction: row;
	 margin-left: 0;
	width: 50%; 
	height: 50%;
	 }

	#flex-image {
		width: 50px !important;
		height: 50px !important;
	}

.login-sign-up-container { 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; 
	padding: 0px 15px;
	text-align: center;
}
.login-sign-up-container a{ 
	padding: 0px 15px;
	width: auto;
}

.div {
   text-indent: 500px;
   text-align: center;
}
.landing-page-background-container{
	width: 50%;
  height: 400px;
}
.devise-login-continer{
	margin: 0 auto !important;
	width: 50%;
}

.landing-page-background-container img {
	width: 100% !important;
	height: auto !important;
}

nav { font-size: x-large;}

body{
		background-color: #fff;
		font-family: "Optima", sans-serif;
		font-weight: 500;
		text-align: center;
		margin: 0;
		/* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fopen-nasa-files%2Fimages%2Fapod1_copy.original.jpg&f=1&nofb=") */
	 }

.form-control{
		height: 41px;
		background: #f2f2f2;
		box-shadow: none !important;
		border: none;
}

.form-control:focus{
		background: #e2e2e2;
}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 390px;
		margin: 30px auto;
	}
	.signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form h2 {
		color: #333;
		font-weight: bold;
        margin-top: 0;
    }
    .signup-form hr {
        margin: 0 -30px 20px;
    }    
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}
    .signup-form .btn{        
        font-size: 16px;
        font-weight: bold;
		background: #3598dc;
		border: none;
		min-width: 140px;
    }
	.signup-form .btn:hover, .signup-form .btn:focus{
		background: #2389cd !important;
        outline: none;
	}
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
	.signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #3598dc;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
    .signup-form .hint-text {
		padding-bottom: 15px;
		text-align: center;
		}
		.App {
			text-align: center;
		}
		div.container {
			text-align: center;
			font-size: 1.8em
		}
		input[type="text"] {
			display: block;
			margin : 0 auto;
		}
		#carousel {
			font-size: 1.4em
		}
		.slider-wrapper axis-horizontal {
			font-size: 1.4em
		}
		.form-inline {
			white-space: pre
		}
		
		.App-logo {
			animation: App-logo-spin infinite 20s linear;
			height: 40vmin;
			pointer-events: none;
		}
		
		.App-header {
			background-color: #282c34;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: calc(10px + 2vmin);
			color: white;
		}
		
		.App-link {
			color: #61dafb;
		}
		
		@keyframes App-logo-spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
		html, body { height:100%; }
		
		.flexbox {
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
		
		.fav-btn {
			display:flex;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
		
		
		@keyframes favme-anime {
			0%   { 
				opacity: 1;
				font-size: ms(0);
				-webkit-text-stroke-color: transparent;
			}
			25%	 { 
				opacity:.6;
				color: #FFF;
				font-size: ms(-2);
				-webkit-text-stroke-width: 1px;
				 -webkit-text-stroke-color: #DC3232;
			}
			75%	 { 
				opacity:.6;
				color: #FFF;
				font-size: ms(3);
				-webkit-text-stroke-width: 1px;
				 -webkit-text-stroke-color: #DC3232;
			}
			100% { 
				opacity: 1;
				font-size: ms(2);
				-webkit-text-stroke-color: transparent;
			}
		}
		
		@keyframes favme-hover {
			from {
				font-size: ms(3);
			}
			80% {
				font-size: ms(2);
			}
		}
		
		.favme {
			display:block;
			font-size: ms(2);
			width: auto;
			height: auto;
			cursor: pointer;
			box-shadow: none;
			transition: all .2s ease;
			color: #CBCDCE;
			margin: 0;
			
			&.active {
				color: #DC3232;
			}
			&:hover {
				animation: favme-hover .3s infinite alternate;
			}
			&.is_animating {
				animation: favme-anime .3s;
			}
		}
		.btn {
			display: block;
			width: 15%;
			border: none;
			background-color: #4CAF50;
			padding: 14px 28px;
			font-size: 16px;
			cursor: pointer;
			text-align: center;
		}
		li {
			list-style-type: none;
		}
		.video { margin: 0 auto; }


